.chrHeader {
  .euiHeaderSectionItem::after {
    top: 0;
  }
}

.chrHeaderSectionItem {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: .5rem;
  padding-right: .5rem;
  width: 11rem;
}
