.guidePage {
  padding: 0;
}

.guideSideNav {
  width: 260px;
  position: fixed;
  top: 0;
  bottom: 0;

  @media only screen and (max-width: 574px) {
    position: static;
    width: auto;
    margin-right: 0;
  }

  .guideSideNav__content {
    width: 260px;
    padding: 0 16px;

    @media only screen and (max-width: 574px) {
      position: relative;
      width: auto;
      top: auto;
      bottom: auto;
      padding: 0;
      overflow-y: hidden;
    }
  }
}

.guidePageContent {
  flex: 1 1 auto;
  padding: 16px 32px;
  min-height: 100vh;
  background-color: #fff;
  border-left: 1px solid #D3DAE6;
  max-width: 1000px;
  margin-left: 260px;

  :global(.appTheme-dark) &, :global(.appTheme-amsterdam_dark) & {
    background-color: #1D1E24;
    border-left: 1px solid #343741;
  }

  @media only screen and (max-width: 574px) {
    margin-left: 0;
    width: 100%;
  }
}

.guideIdentity {
  border-bottom: 1px solid #D3DAE6;
  margin-bottom: 16px;
  @media only screen and (max-width: 574px) {
    margin-bottom: 0;
  }

  :global(.appTheme-dark) &, :global(.appTheme-amsterdam_dark) & {
    border-bottom: 1px solid #343741;
  }
}

