@import '~@elastic/eui/src/global_styling/functions/_index.scss';
@import '~@elastic/eui/src/global_styling/variables/_index.scss';

.chrHeader {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;

  :global(.euiHeaderSectionItem::after) {
    top: 0;
  }
}

.chrHeaderSectionItem {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: .5rem;
  padding-right: .5rem;
  width: 11rem;
}

.chrWrap {
  width: calc(100% - 3rem);
  margin-left: 3rem;
  padding-top: $euiSizeXXL + $euiSizeS;
}
