.guidePage {
  padding: 0;
}

.guideSideNav {
  width: 260px;
  position: fixed;
  top: 0;
  bottom: 0;

  .guideSideNav__content {
    width: 260px;
    padding: 0 16px;
  }
}

.guidePageContent {
  flex: 1 1 auto;
  padding: 16px 32px;
  min-height: 100vh;
  background-color: #fff;
  border-left: 1px solid #D3DAE6;
  max-width: 1000px;
  margin-left: 260px;
}

.guideIdentity {
  border-bottom: 1px solid #D3DAE6;
  margin-bottom: 16px;
}

